/* login */
/* line 394, ../sass/theme.scss */
.login-wrapper {
    background: black;
    color: white;
    padding: 30px;
    position: absolute;
    overflow: hidden;
    right: 0;
    width: 500px;
    z-index: 3;
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -moz-transition: -moz-transform .2s ease-in-out;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
  }
  /* line 410, ../sass/theme.scss */
  .login-wrapper label {
    color: #999999;
    display: block;
  }
  /* line 414, ../sass/theme.scss */
  .login-wrapper .form-control {
    background: none;
    width: 100%;
  }
  /* line 419, ../sass/theme.scss */
  .login-wrapper .form-group,
  .login-wrapper .list-inline {
    margin-bottom: 30px;
  }
  /* line 422, ../sass/theme.scss */
  .login-wrapper .list-inline li + li {
    margin-left: 30px;
  }
  /* line 425, ../sass/theme.scss */
  .login-wrapper h4 {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  }
  /* line 429, ../sass/theme.scss */
  .login-wrapper a {
    color: white;
  }
  /* line 431, ../sass/theme.scss */
  .login-wrapper a:hover, .login-wrapper a:focus {
    color: #1abc9c;
  }
  /* line 435, ../sass/theme.scss */
  .login-wrapper.open {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .login-hiden{
    overflow: hidden;
    position: relative;
    background-color: white;
    max-width: 1170px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .fa-user{
      font-size: 20px;
  }
.log_out{
  display: none;
}
.login:hover .log_out{
  display: none!important;
}
.qualityInput{
  width: 30px;
  text-align: center;
}